<div>
  <button pButton type="button" label="Native with Directive"></button>
  <p-button label="Component" (click)="toUpper()"></p-button>

  <span class="p-float-label">
    <input id="float-input" type="text" pInputText [(ngModel)]="userName">
    <label for="float-input">Username</label>
  </span>
  <p>Username = {{userName}}</p>
</div>

<div class="p-grid">
  <div class="p-col-2">
    <div class="p-field">
      <label for="name">First Name</label>
      <input type="text" pInputText id="name" required autofocus />
      <!-- <small class="p-error" *ngIf="submitted && !product.name">Name is required.</small> -->
    </div>
  </div>
  <div class="p-col-6">
    <div class="p-field">
      <label for="name">Last Name</label>
      <input type="text" pInputText id="name" required autofocus />
      <!-- <small class="p-error" *ngIf="submitted && !product.name">Name is required.</small> -->
    </div>
  </div>
  <div class="p-col-4">
    <div class="p-field">
      <label for="name">Surname</label>
      <input type="text" pInputText id="name" required autofocus />
      <!-- <small class="p-error" *ngIf="submitted && !product.name">Name is required.</small> -->
    </div>
  </div>
</div>
