<div class="grid">
  <div class="col-1">
    <div class="field">
      <p-button icon="pi pi-minus" iconPos="right" (click)="onDecrement()"></p-button>
    </div>
  </div>

  <div class="col-1">
    <div class="field">
      <!-- This is input binding only. -->
      <p-inputNumber [ngModel]="count" inputStyleClass="width-100"></p-inputNumber>
    </div>
  </div>

  <div class="col-1">
    <div class="field">
      <p-button icon="pi pi-plus" (click)="onIncrement()"></p-button>
    </div>
  </div>
</div>
